


 .build-trust {

    picture {
        width: 100%;
        height: auto;

        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
        }
    }

    .section-header {
        font-family:"nazare";
        font-size: var(--sectionHFsize);
        letter-spacing: -6px;
        padding-bottom: var(--section-padding);
        margin-left: var(--pad-left);
        line-height: .9;
       
    }
    .section-para-1 {
        padding-top: 20px;
        font-family:"paralucent";
        font-size: var(--subheadersize);
        font-weight: 300;
        margin-left: var(--pad-left);
        padding-bottom: var(--section-padding);
    }

    .section-para-1::before {
        content: "‘";
        position: absolute;
        left: calc(var(--pad-left) - 1vw);
    }

    .section-para-1::after {
        content: "’"
    }

    .section-para-2 {
        font-family:"paralucent";
        font-size: var(--h3size);
        margin-left: var(--pad-left);
        // padding-bottom: var(--section-gaps);
        padding-bottom: var(--section-padding);
    }

    




}