

p {
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

.large-percent {
    font-family:"nazare";
    font-size: var(--percentVal);
    letter-spacing: -2vw;
    position: relative;
    font-weight: 500;
    width: fit-content;
    height: fit-content;

    position: relative;
    line-height: 25vw;
    padding-bottom: 20px;

    .percent-symbol {
        line-height: 4vw;
        font-family:"nazare";
        font-size: var(--percentSymbol);
        position:absolute;
        top: 35%;
        padding-left: 1vw;
        font-weight: 300;
        right: -20%;


        @include breakpoint(mobile) {
            top: -30px;
            right: 10px;
            margin-left: auto;
            margin-right: auto;
        }

        @include breakpoint(tablet) {
            top: 30px;
            right: -50px;
            margin-left: auto;
            margin-right: auto;
            // letter-spacing: 1vw;
        }
    }


    @include breakpoint(mobile) {
        line-height: 55vw;
        letter-spacing: -5vw;
        left: -20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    @include breakpoint(tablet) {
        line-height: 45vw;
        letter-spacing: -5vw;
        margin-top: 50px;
    }
}

.bold-cap {
    font-weight: 700;
    text-transform: uppercase;
    font-family:"paralucent";
}

.consumer-copy {
    font-family:"paralucent";
    font-size: 3vw;
    font-weight: 300;
    padding-bottom: var(--section-padding);
    line-height: 3vw;

    @include breakpoint(mobile) {
        font-size: 8vw;
        line-height: 1;
    }

    @include breakpoint(tablet) {
        font-size: 5vw;
        line-height: 1;
    }
}



.audio-box {
    width: 30%;
    position: relative;

    .talent-box {
        position: relative;
        width: 100%;
        height: auto;

        .audio-talent {
            font-family:"paralucent";
            font-size: 1.5vw;

            @include breakpoint(mobile) {
                font-size: 3vw;
            }

            @include breakpoint(tablet) {
                font-size: 2vw;
            }
        }

        .talent-pic {
            height: 100%;
            width: 100%;
             position: relative;
         
             img {
                 width: 100%;
                 height: 100%;

                 @include breakpoint(tablet) {
                    width: 65%;
                    height: 65%;
                }
            }
         }
    }

    .player-control {
        font-family:"paralucent";
        font-size: 1.5vw;

        @include breakpoint(mobile) {
            font-size: 3vw;
        }

        @include breakpoint(tablet) {
            font-size: 2vw;
            position: absolute;
            top: 70px;
            right: 0px;
        }
    }

    .audio-player {
        height: var(--icon-size);
        width: var(--icon-size);

        #media-mute-button {display: none;}
        #media-unmute-button {display: none;}

        @include breakpoint(tablet) {
            right: 0px;
            top: 0px;
            position: absolute;
        }
    }


    @include breakpoint(mobile) {
       margin-left: auto;
       margin-right: auto;
       left: unset;
       right: unset;
       width: calc(100% - 50px);
    }

    @include breakpoint(tablet) {
        margin-left: auto;
        margin-right: auto;
        left: unset;
        right: unset;
        width: calc(100% - 100px);
    }

}
