p {
	margin-bottom: 20px;
	line-height: 1.5;
	font-family: "Source Sans Pro", sans-serif;
	color: var(--body-copy-color);
	font-size: var(--body-copy-fsize);

	@include breakpoint(mobile) {
		font-size: var(--body-copy-fsize);
	}

	@include breakpoint(tablet) {
		font-size: var(--body-copy-fsize);
	}

}

.large-percent {
	font-family: "nazare";
	
	letter-spacing: -2vw;
	position: relative;
	font-weight: 500;
	width: fit-content;
	height: fit-content;
	color: black;

	position: relative;
	line-height: 25vw;
	padding-bottom: 20px;
	padding-top: 100px;

	.value {
		font-size: var(--percentVal);
		color: black;

		@include breakpoint(tablet) {
			letter-spacing: -28px;
		}

	}

	.percent-symbol {
		font-family: "nazare";
		font-size: var(--percentSymbol);
		position: absolute;
		top: 0px;
		padding-left: 1vw;
		font-weight: 300;
		right: -20%;

		@include breakpoint(mobile) {
			top: -30px;
			right: 10px;
			margin-left: auto;
			margin-right: auto;
		}

		@include breakpoint(tablet) {
			top: 50px;
			right: -50px;
			margin-left: auto;
			margin-right: auto;
			height: 86px;
			line-height: 1;

		}
	}

	@include breakpoint(mobile) {
		line-height: 55vw;
		letter-spacing: -5vw;
		// left: -20px;
		left: -5px;
		margin-left: 0px;
		margin-right: auto;
		margin-top: 45px;
	}

	@include breakpoint(tablet) {
		line-height: var(--percentVal);
		letter-spacing: -5vw;
		margin-top: 0px;
		padding-top: 0px;
	}
}

.bold-cap {
	font-weight: 700;
	text-transform: uppercase;
	font-family: "paralucent";
	letter-spacing: 0.5px;
}

.consumer-copy {
	font-family: "paralucent";
	font-size: var(--consumer-fsize);
	font-weight: 300;
	padding-bottom: 120px;
	line-height: 1.1;

	@include breakpoint(mobile) {
		font-size: var(--consumer-fsize);
		line-height: 1;
	}

	@include breakpoint(tablet) {
		font-size: 5vw;
		line-height: 1;
		position: relative;
		top: -30px;
		// width: 80%;
	}
}




.audio-box {
	width: 30%;
	position: sticky;
	position: -webkit-sticky;
	overflow: hidden;
	height: fit-content;
	top: 100px;

	.talent-box {
		position: relative;
		width: 100%;
		height: auto;

	
		.talent-pic {
			height: 100%;
			width: 100%;
			position: relative;

			img {
				width: 100%;
				height: 100%;

				@include breakpoint(tablet) {
					width: 320px;
					height: auto;
				}

				// @include breakpoint( mobile ) {
				//   transform: scale(0.5);
				// }
			}
		}

		.player {

			position: relative;
			// margin-left: auto;
			// margin-right: auto;
			margin-left: 0px;
			margin-top: 30px;
			width: fit-content;

			@include breakpoint(tablet) {
				display: flex;
				flex-direction: column;
				// height: 300px;
			}
			
			.ct {
				display: flex;
				justify-items: center;
				justify-content: left;
				padding-top: 10px;

				.audio-player {
					height: var(--icon-size);
					width: var(--icon-size);
					margin-top: .5vw;
					margin-bottom: .5vw;
				
					#media-mute-button {
						display: none;
					}
					#media-unmute-button {
						display: none;
					}
				
					@include breakpoint(tablet) {
						// right: 0px;
						// top: 0px;
						// position: absolute;
					}
				}

				.player-control {
					font-family: "paralucent";
					font-size: var(--body-copy-fsize);
					width: fit-content;
					display: flex;
					
					padding-left: 10px;
					display:flex;
					align-items:center;
					
				
					@include breakpoint(mobile) {
						font-size: var(--body-copy-fsize);
					}
				
					@include breakpoint(tablet) {
						font-size: var(--body-copy-fsize);
					}
				}


				

			}

			.audio-talent {
				font-family: "paralucent";
				font-size: var(--body-copy-fsize);
				line-height: 1.2;
				position: relative;
				padding-top: 20px;
				
	
				@include breakpoint(mobile) {
					font-size: var(--body-copy-fsize);
				}
	
				@include breakpoint(tablet) {
					font-size: var(--body-copy-fsize);
				}
			}
	

		}
	}

	@include breakpoint(mobile) {
		margin-left: auto;
		margin-right: auto;
		left: unset;
		right: unset;
		width: calc(100% - 50px);
		position: relative;
		display: block;
		position: relative;
		padding-top: 0px;
		margin-top: 0px;
		padding-bottom: 50px;
		top: 0px;
	}

	@include breakpoint(tablet) {
		// margin-left: auto;
		// margin-right: auto;
		left: unset;
		right: unset;
		width: 500px;
		// height: 600px;
		position: relative;
		top: 0px;
		justify-content: left;
		margin-left: var(--pad-left);
		padding-bottom: 50px;
		
		
	}
}

.take-a-stand .section-para.pull-quote,
.meet-audiences .section-para.pull-quote,
.build-trust .section-para-1.pull-quote {
	padding-top: 75px;
	color: black;

	@include breakpoint(mobile) {
		padding-top: 34px;
	}
}

