


 .download-the-amazon-ads {

    .section-para {
        font-family:"nazare";
        font-size: 40px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding-bottom: 50px;
    }
    
    .cta {
        font-family:"paralucent";
        color: white;
        background-color: black;
        padding: 15px 25px;
        position: relative;
        width: fit-content;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        font-size: 30px;
    }

    padding-bottom: 200px;
}