


 .download-the-amazon-ads {

    position: relative;
    width: 100%;

    .section-para {
        font-family:"nazare";
        font-size: 3.5vw;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding-bottom: var(--section-padding);
        text-align: center;

        @include breakpoint(mobile) {
           font-size: 6vw;
           width: calc(100% - 100px);
           margin-left: auto;
           margin-right: auto;
           line-height: 1.2;
        }

        @include breakpoint(tablet) {
            font-size: 5vw;
            width: calc(100% - 100px);
            margin-left: auto;
            margin-right: auto;
            line-height: 1.1;
            padding-top: 50px;
         }
    }
    
    .cta {
        font-family:"paralucent";
        color: white;
        text-align: center;
        background-color: black;
        border: 2px solid white;
        padding: 15px 35px;
        position: relative;
        width: fit-content;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        font-size: 1.7vw;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s;

        @include breakpoint(mobile) {
            width: 50%;
            font-size: 4.5vw;
            padding: 20px 35px;
        }

        @include breakpoint(tablet) {
            width: 30%;
            font-size: 3vw;
            padding: 20px 35px;
        }

        &:hover {
            background-color: white;
            color: black;
            border: 2px solid black;
            box-sizing: border-box;
          
        }
    }

    .logo {
        margin-top: var(--section-padding);
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        cursor: pointer;

        img {
            object-fit: contain;
            width: 100%;
            max-width: 100%;
        }

        @include breakpoint(mobile) {
          width: 50%;
        }

        @include breakpoint(tablet) {
            width: 30%;
        }
    }

    padding-bottom: var(--section-gaps);
}