


    .hero {

        transform-origin: center;
        // max-width: 100vw;
        // max-height: 51vw;
        // overflow: hidden;

        .hero-img {
            max-width: 100vw;
            max-height: 51vw;
            overflow: hidden;
            min-width: 100vw;
            min-height: 51vw;
            background-image: url(https://storage.googleapis.com/nytpi/paidposts/2022/amazon/images/hero-v3.jpg);
            background-size: contain;
        }

        

        img {
            max-width: 100vw;
            max-height: 51vw;
            width: 100%;
            height: auto;
            transform-origin: center;
            overflow: hidden;
        }

        .section-header {
            font-family:"nazare";
            font-size: var(--sectionHFsize);
            margin-left: var(--pad-left);
            padding-bottom: 50px;
            padding-top: 40px;
            letter-spacing: -5px;
            line-height: .9;
        }

        .devider-line {
            height: 1px;
            background-color: black;
            width: calc(100% - 80px);
            position: relative;
            margin-left: auto;
            margin-right: auto;

            @include breakpoint(mobile) { @include mobileparagraph (); }
        }
    }