


    .hero {

        picture {
            width: 100%;
            height: auto;

            img {
                max-width: 100%;
                width: 100%;
                height: 100%;
            }
        }

        .section-header {
            font-family:"nazare";
            font-size: var(--sectionHFsize);
            margin-left: var(--pad-left);
            padding-bottom: 50px;
            padding-top: 40px;
            letter-spacing: -5px;
            line-height: .9;
        }

        .devider-line {
            height: 1px;
            background-color: black;
            width: calc(100% - 80px);
            position: relative;
            margin-left: auto;
            margin-right: auto;

            @include breakpoint(mobile) { @include mobileparagraph (); }
        }
    }