.indeed-and-hillman {
	display: flex;
	justify-content: space-between;
	padding-bottom: var(--section-gaps);

	.box-right {
		width: 40%;
		margin-right: var(--pad-left);
		font-size: var(--h4size);
		line-height: 1.5;

		@include breakpoint(mobile) { @include mobileparagraph(); }

		@include breakpoint(tablet) {
			width: 70%;
			margin-left: var(--pad-left);
		}

		.per-sec {
			@include breakpoint(tablet) {
				position: relative;
				top: -15px;
			}

			.large-percent {
				@include breakpoint(tablet) { 
					//padding-top: 63px; 
					margin-top: 60px;
				}
			}
		}
	}

	.large-percent {
		position: relative;
		left: -6vw;

		@include breakpoint(mobile) { left: -20px;}
		@include breakpoint(tablet) { left: -20px;}
	}

	.consumer-copy {
		color: var(--blue);
		@include breakpoint(tablet) {
			width: 80%;
			padding-bottom: 16px;
		}
	}

	.audio-box {
		padding-left:var(--pad-left);
		overflow: visible;
		@include breakpoint(tablet) {padding-left: unset;}

		.talent-pic { 
			transform: rotate(5deg);
			@include breakpoint(mobile) { transform: rotate(2deg);}
		}

	}
	.audio-box .player .audio-talent {color: #009CE6}
	.audio-box .player .ct {color: #009CE6}



	@include breakpoint(mobile) {
		flex-direction: column;
		padding-bottom: 50px;
		// justify-content: flex-end;
	}

	@include breakpoint(tablet) {
		padding-top: 40px;
		flex-direction: column;
		padding-bottom: 100px;
	}
}
