.indeed-and-hillman {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--section-gaps);

  .box-right {
    width: 40%;
    margin-right: var(--pad-left);
    font-size: var(--h4size);
    line-height: 1.5;

    @include breakpoint(mobile) {
      @include mobileparagraph();
    }

    @include breakpoint(tablet) {
      width: 70%;
      margin-left: var(--pad-left);
    }
  }

  .large-percent {
    position: relative;
    left: -6vw;

    @include breakpoint(mobile) {
      left: -20px;
    }
  }

  .consumer-copy {
    color: var(--blue);
    @include breakpoint(tablet) {
      width: 80%;
      padding-bottom: 80px;
    }
  }

  .audio-box {
    margin-left: var(--pad-left);
    .audio-talent {
      color: var(--blue);
      padding-top: 24px;
    }

    .player-control {
      color: var(--blue);
    }

    .talent-pic img {
      transform: rotate(-3deg);
    }

    @include breakpoint(mobile) {
      left: unset;
      padding-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint(tablet) {
      padding-bottom: 50px;
    }
  }

  .default-play-buttom,
  .default-pause-buttom {
    // filter: hue-rotate(65deg);
  }

  @include breakpoint(mobile) {
    flex-direction: column;
    padding-bottom: 50px;
  }

  @include breakpoint(tablet) {
    padding-top: 40px;
    flex-direction: column;
    padding-bottom: 100px;
  }
}
