

 .meet-audiences {

    // padding-bottom: 50px;
    padding-top: var(--section-gaps);

    picture {
        width: 100%;
        height: auto;
        

        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            //border-radius: 20px;
        }
    }

    .section-header {
        font-family:"nazare";
        font-size: var(--sectionHFsize);
        letter-spacing: -6px;
        margin-left: var(--pad-left);
        padding-bottom: 50px;
        line-height: .9;
    }

    .section-para {
        font-family:"paralucent";
        font-size: var(--subheadersize);
        font-weight: 300;
        margin-left: var(--pad-left);
        padding-top: var(--section-padding);
        padding-bottom:var(--section-padding);
        width: 80%;

        @include breakpoint(mobile) { @include mobileparagraph ();}
    }

    .section-para::before {
        content: "‘";
        position: absolute;
        left: calc(var(--pad-left) - 1vw);
    }

    .section-para::after {
        content: "’"
    }

    .section-para-2 {
        margin-left: var(--pad-left);
        padding-bottom: var(--section-gaps);
        font-family:"paralucent";
        font-size: var(--h3size);
        font-weight: 300;
        letter-spacing: 1px;

        @include breakpoint(tablet) {
            width: 45%;
            padding-bottom: 50px;
        }
    }

    
}
