.meet-audiences {
  // padding-bottom: 50px;
  padding-top: var(--section-gaps);
  @include breakpoint(tablet) {
    padding-top: 40px;
  }

  @include breakpoint(mobile) {
	padding-top: 40px;
  }

  picture {
    width: 100%;
    height: auto;

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      //border-radius: 20px;
    }
  }

  .hero-img {
    max-width: 100vw;
    max-height: 51vw;
    overflow: hidden;
    // min-width: 100vw;
    min-height: 51vw;
    background-image: url(https://storage.googleapis.com/nytpi/paidposts/2022/amazon/images/Illustration_2.jpg);
    background-size: contain;
    border-radius: 1.5vw;

    @include breakpoint(mobile) {
      max-height: unset;
      min-height: 240px;
      background-position: 50% 50%;
    }
}

  .section-header {
    font-family: "nazare";
    font-size: var(--sectionHFsize);
    letter-spacing: -6px;
    margin-left: var(--pad-left);
    padding-bottom: 50px;
    line-height: 0.9;
    width: 80%;
    color: black;

    @include breakpoint(tablet) {padding-bottom: 35px;}
	  @include breakpoint(mobile) {
      letter-spacing: -3px; 
      padding-bottom: 34px;
      width: calc(100% - 20px);
    }
	
  }

  .section-para {
    font-family: "paralucent";
    font-size: var(--subheadersize);
    // font-size: 6vw;
    font-weight: 300;
    margin-left: var(--pad-left);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    padding-bottom: 30px;
    width: 85%;
	  color: black;

    @include breakpoint(mobile) {
      @include mobileparagraph();
      padding-bottom: 18px;
      padding-top: 38px;
      font-size: 26px;
    }
  }

	.section-para::before {
		content: "‘";
		position: absolute;
		//left: calc(var(--pad-left) - 0.6vw);
		left: 75px;
		color: black;

		@include breakpoint(mobile) { left: 8px;}
		@include breakpoint(tablet) { left: 48px;}
	}

  .section-para::after {
    content: "’";
   
  }

	.section-para-2 {
		margin-left: var(--pad-left);
		// padding-bottom: var(--section-gaps);
    padding-bottom: 100px;
    // margin-bottom: 110px;
		font-family: "paralucent";
		font-size: var(--h3size);
		font-weight: 300;
		letter-spacing: 1px;

		@include breakpoint(tablet) {
			width: 75%;
			padding-bottom: 50px;
		}

		@include breakpoint(mobile) {
			padding-bottom: 60px;
      max-width: calc(100% - 30px);
		}
	}

  .consumer-copy {
    @include breakpoint(tablet) {
      width: 80%;
    }
  }
}
