

    .take-a-stand {

        position: relative;
        width: 100%;

        picture {
            width: 100%;
            height: auto;

            img {
                max-width: 100%;
                width: 100%;
                height: 100%;
            }
        }

        .credit {
            font-family:"paralucent";
            letter-spacing: 1px;
            font-size: 20px;
            font-weight: 300;
            margin-left: 40px;
            padding-bottom: 50px;

            .name {
                text-transform: uppercase;
                font-weight: 700;
            }
        }

      
        .section-header {
            font-family:"nazare";
            font-size: 120px;
            letter-spacing: -6px;
            margin-left: 40px;
            padding-bottom: 30px;
            
        }

        .section-para {
            font-family:"paralucent";
            font-size: var(--subheadersize);
            margin-left: 40px;
            padding-bottom: 50px;
            font-weight: 300;
            padding-top: 50px;
            width: 70%;
        }

        .section-para::before {
            content: "‘";
            position: absolute;
            left: 25px;
        }

        .section-para::after {
            content: "’"
        }
    }