



.the-initial-idea {
  display: flex;
  width: inherit;
 
  justify-content: space-between;
  position: relative;
  height: fit-content;

  .box-left {
    margin-left: var(--pad-left);
    width: 40%;
    font-size: var(--h4size);
    line-height: 1.5;

    @include breakpoint(mobile) {
      @include mobileparagraph();
    }

    @include breakpoint(tablet) {
      width: 70%;
      margin-left: var(--pad-left);
    }

    .per-sec {
			@include breakpoint(tablet) {
				position: relative;
				top: -15px;

        .value {
          letter-spacing: -25px;
        }
			}
		}
  }

  .consumer-copy {
    color: var(--red);
    @include breakpoint(tablet) {
      width: 80%;
      padding-bottom: 80px;
    }
  }

  .audio-box {
    padding-right:var(--pad-left);
    overflow: visible;
    .talent-pic { 
      transform: rotate(-5deg);
      @include breakpoint(mobile) { transform: rotate(2deg);}
    }
    .player .audio-talent {color: #FF415F}
    .player .ct {color: #FF415F}
   
  }
 


  @include breakpoint(mobile) {
    flex-direction: column-reverse;
  }

  @include breakpoint(tablet) {
    // padding-top: 40px;
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }
}
