


    .the-best-connections {
        display: flex;
        justify-content: space-between;
        padding-bottom: var(--section-gaps);
        position: relative;

        .box-left {
            width: 40%;
            margin-left: var(--pad-left);
            box-sizing: border-box;
            font-size: var(--h4size);
            line-height: 1.5;
            font-family: 'Source Sans Pro', sans-serif;

            @include breakpoint(mobile) { @include mobileparagraph (); }

            @include breakpoint(tablet) {
                width: 70%;
                margin-left: var(--pad-left);
            }

        }

        .large-percent {
            position: relative;
            line-height: 25vw;
            padding-bottom: 20px;

            .percent-symbol {
                line-height: 4vw;
            }

            @include breakpoint(mobile) {
                left: -10px;
                line-height: 55vw;
                padding-bottom: unset;
            }

            @include breakpoint(tablet) {
                left: -10px;
                line-height: 45vw;
                padding-bottom: unset;
            }
        }

      

        .consumer-copy {
            color: var(--pink);
            position: relative;
            // top: -10vw;
            padding-bottom: var(--section-padding);
        }

        .below-percentage {
            position: relative;
        }

        .audio-box {
            position: relative;
            left: -40px;
            
            
            .audio-talent {
                color: var(--pink);
                padding-top: 10px;
            }

            .player-control {
                color: var(--pink);
                text-align: right;
            }

            .talent-pic img{transform: rotate(3deg);}

            .audio-player {
                position: relative;
                margin-left: auto;

                @include breakpoint(tablet) {
                    position: absolute;
                }
             }

            @include breakpoint(mobile) {
                left: unset;
                padding-bottom: 50px;
            }

            @include breakpoint(tablet) {
                left: unset;
                padding-bottom: 50px;
            }
        }

        @include breakpoint(mobile) {
            flex-direction: column-reverse;
            padding-bottom: 50px;
        }

        @include breakpoint(tablet) {
            padding-top: 40px;
            flex-direction: column-reverse;
            padding-bottom: 40px;
        }
    }