.the-initial-idea {
  display: flex;
  justify-content: space-between;

  .box-left {
    margin-left: var(--pad-left);
    width: 40%;
    font-size: var(--h4size);
    line-height: 1.5;

    @include breakpoint(mobile) {
      @include mobileparagraph();
    }

    @include breakpoint(tablet) {
      width: 70%;
      margin-left: var(--pad-left);
    }
  }

  .consumer-copy {
    color: var(--red);
    @include breakpoint(tablet) {
      width: 80%;
      padding-bottom: 80px;
    }
  }

  .audio-box {
    position: relative;
    left: -40px;
    padding-bottom: var(--section-padding);

    .audio-talent {
      color: var(--red);
      padding-top: 10px;
    }

    .player-control {
      color: var(--red);
      text-align: right;
    }

    .talent-pic img {
      transform: rotate(3deg);
    }

    .audio-player {
      position: relative;
      margin-left: auto;

      @include breakpoint(tablet) {
        position: absolute;
      }
    }

    @include breakpoint(mobile) {
      left: unset;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 50px;
    }

    @include breakpoint(tablet) {
      left: unset;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 50px;
    }
  }

  .default-play-buttom,
  .default-pause-buttom {
    // filter: hue-rotate(88deg) brightness(1.5);
  }

  @include breakpoint(mobile) {
    flex-direction: column-reverse;
  }

  @include breakpoint(tablet) {
    padding-top: 40px;
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }
}
