

@import 'reset';
@import 'fonts';
@import 'mixin';
@import 'utils';
@import 'Baymax.amazon';

:root {
    --pink: #FF7ABA;
    --blue: #009CE6;
    --red: #FF415F;
    --subheadersize: 4vw;
    --percentVal: 28vw;
}



body {
    background-color: #FFFEF9;
}

p {
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}




.large-percent {
    font-family:"nazare";
    font-size: var(--percentVal);
    letter-spacing: -30px;
    position: relative;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
}

.percent-symbol {
    font-family:"nazare";
    font-size: 100px;
    position:absolute;
    top: 35%;
    // right: 20px;
    padding-left: 20px;
    // font-weight: 300;
}

.bold-cap {
    font-weight: 700;
    text-transform: uppercase;
    font-family:"paralucent";
}

.consumer-copy {
    font-family:"paralucent";
    font-size: 3vw;
    font-weight: 300;
    padding-bottom: 75px;
    line-height: 3vw;
}

.audio-player {
    height: 100px;
}

.player-control {
    font-family:"paralucent";
}

.audio-talent {
    font-family:"paralucent";
}

.audio-box {
    width: 30%;

    .talent-box {
        position: relative;
        // max-width: 40%;
        width: 100%;
        height: auto;
    
        .talent-pic {
            height: 100%;
            width: 100%;
             position: relative;
         
             img {
                 width: 100%;
                 height: 100%;
             }
         }
    
    }

}





.wrapper {
    box-sizing: border-box;
    width: 100%;
    border-left: 15px solid black;
    border-right: 15px solid black;
    position: relative;
    max-width: 1605px;
    margin-left: auto;
    margin-right: auto;

    .hero {

        picture {
            width: 100%;
            height: auto;

            img {
                max-width: 100%;
                width: 100%;
                height: 100%;
            }
        }



        .section-header {
            font-family:"nazare";
            font-size: 100px;
            margin-left: 40px;
            padding-bottom: 50px;
            padding-top: 40px;
        }

        .devider-line {
            height: 1px;
            background-color: black;
            width: calc(100% - 80px);
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }
    }


    @import 'how-to-share';
    @import 'take-a-stand';
    @import 'the-initial-idea';
    @import 'meet-audiences';
    @import 'indeed-and-hillman';
    @import 'build-trust';
    @import 'the-best-connections';
    @import 'download-amazon-ad';
  

   



   
}